/* Import Font Dancing Script */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
  margin: 0;
  overflow-x: scroll;
}

body {
  background-image: radial-gradient(#dcc154,rgb(200, 165, 75) ,#b49737);
  font-family: Arial;
  overflow-x: scroll;
  height: 100%;
}

/* Main */
.main {
  align-items: center;
  margin-top: 4%;
  font-size: 30px;
  width: 100%;
}

.main h2 {
  color: white;
  font-family: cursive;
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
  font-style: underline;
  margin-bottom: 20px;
}

.main .card {
  background-color: #fff;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0 grey;
  height: auto;
  margin-bottom: 20px;
}

.main .card table {
  border: none;
  font-size: 16px;
  height: 270px;
  width: 80%;
}

.edit {
  position: absolute;
  color: #e7e7e8;
  right: 14%;
}

.social-media {
  text-align: center;
  width: 90%;
}

.social-media span {
  margin: 0 10px;
}

.fa-facebook:hover {
  color: #4267b3 !important;
}

.fa-twitter:hover {
  color: #1da1f2 !important;
}

.fa-instagram:hover {
  color: #ce2b94 !important;
}

.fa-invision:hover {
  color: #f83263 !important;
}

.fa-github:hover {
  color: #161414 !important;
}

.fa-whatsapp:hover {
  color: #25d366 !important;
}

.fa-snapchat:hover {
  color: #fffb01 !important;
}

.justify-content-md-end{
    margin-right: 10%;
}
